<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1" />
  </startup>
  <appSettings>
    <add key="EncyclopaediaMetallumApiProxy.BaseUrl" value="http://localhost:62842/api" />
    <add key="App.Name" value="EncyclopaediaMetallumViewer" />
    <add key="Log.Location" value="LocalApplicationData" />
  </appSettings>
</configuration>